<header class="header">
	<div class="header__container">
		<a href="index.html#hero-main" class="header__logo">Porat</a>
		<div class="header__main">
			<nav class="header__menu menu-header _menu-header">
				<ul class="menu-header__list">
					<li class="menu-header__item item-header item-header_has-child _open-sublist _anim-menu-item">
						Сервіси
						<div class="item-header__border-bottom">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
						<svg class="icon-simple-arrow">
							<use href="./sprites/sprite.svg#icon-simple-arrow"></use>
						</svg>
						<div class="item-header__dd">
							<ul class="item-header__sub-list">
								<li class="item-header__sub-item">
									<a href="services.html#help-services" class="item-header__link _menu-link">Допомога</a>
								</li>
								<li class="item-header__sub-item">
									<a href="services.html#consult-services" class="item-header__link _menu-link">Консультація</a>
								</li>
								<li class="item-header__sub-item">
									<a href="services.html#company-services" class="item-header__link _menu-link">Компанія</a>
								</li>
								<li class="item-header__sub-item">
									<a href="services.html#todo-services" class="item-header__link _menu-link">Чим ми займаємося</a>
								</li>
								<li class="item-header__sub-item">
									<a href="services.html#secur-services" class="item-header__link _menu-link">Захист</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="menu-header__item item-header _anim-menu-item">
						<a href="projects.html" class="item-header__link _menu-link">Проєкти</a>
						<div class="item-header__border-bottom">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</li>
					<li class="menu-header__item item-header _anim-menu-item">
						<a href="blog.html" class="item-header__link _menu-link">Читайте блог</a>
						<div class="item-header__border-bottom">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</li>
					<li class="menu-header__item item-header _anim-menu-item">
						<a href="about.html" class="item-header__link _menu-link">Про нас</a>
						<div class="item-header__border-bottom">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</li>
				</ul>
			</nav>
			<a href="contacts.html" class="header__connect button button_secondary _anim-menu-item" data-da=".menu-header,992,last">
				<svg class="icon-phone">
					<use href="./sprites/sprite.svg#icon-phone"></use>
				</svg>
				Зв'язатися з нами
			</a>
		</div>
		<button class="header__icon _menu-icon" type="button" aria-label="Відкрити меню"><span></span></button>
	</div>
</header>
