$container-layout-width: 1120; // Ширина контейнера по макету
$container-padding: 15; // Отступы у контейнера (по 15px слева и справа, 0 = нет отступа)
$container-max-width: calc($container-layout-width + ($container-padding * 2));

// header-height
$xl-header: 90px;
$lg-header: 70px;
$md-header: 50px;
$sm-header: 45px;

//break-points
$xl: 1199.98px;
$lg: 991.98px;
$lg-m: 819.98px;
$md: 767.98px;
$md-s: 669.98px;
$sm: 575.98px;
$xsm: 439.98px;

// colors
$primary-color: #7df5ca;
$background-color: #041329;
$background-light-color: #0F1D31;
$background-lighter-color: #0D2C59;
$gray-color: #afafaf; 